body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid {
    padding: 3% 10% 7%;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}
.navbar {
    padding: 0 0 4.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
}
.download-button {
    margin: 5% 3% 5% 0;
}
.title-img {
    width: 100%;
    position: absolute;
}

#features {
    padding: 5% 10%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.box {
    text-align: center;
    padding: 4% 2%;
}
#features i {
    color: #ef8172;
    margin-bottom: 1rem;
}
#features i:hover {
    color: #ff4c68;
}
#features h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
#features p {
    color: #8f8f8f;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2 {
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 5% 10%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.p-image {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 992px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 10%;
    text-align: center;
}
#cta h3 {
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
#cta button {
    margin: 5% 3% 5% 0;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 3% 10%;
}
#footer i {
    margin: 20px 10px;
}

.maintainance {
    width: 100%;
    height: 100%;
}